@page
@model BankingApp.Pages_Addresses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.DoorNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.DoorNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.StreetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.StreetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.PinCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.PinCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.LandMark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.LandMark)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Address?.AddressId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
